# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp
*.temp

# Cache de pruebas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml
frontend/.streamlit/
